.header {
	background-color: var(--dark-gray);
	border-color: var(--gray);
	border-style: solid;
	border-width: 0 0 2px 0;
	display: flex;
	flex-direction: row;
	padding-inline: 1rem;
}

.header > .logo {
	display: flex;
	justify-content: space-between;
	padding: 0.8rem 0;
	width: 100%;
}
.header > .logo > .kornyellow {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	margin-top: 0.4rem;
	text-decoration: none;
}
.header > .logo > .kornyellow > .korn {
	color: var(--white);
	font-size: 2rem;
	text-align: center;
}
.header > .logo > .kornyellow > .yellow {
	color: var(--yellow);
	font-size: 1.3rem;
	text-align: center;
}
.header > .logo > button {
	background: transparent;
	border: none;
	color: var(--white);
	display: inline-flex;
	font-family: "Monomon", monospace;
	font-size: 2rem;
	margin-top: 0.6rem;
	text-align: start;
}

.header > nav {
	background-color: var(--dark-gray);
	border-color: var(--gray);
	border-style: solid;
	border-width: 0 2px 0 0;
	height: 100vh;
	left: 0;
	padding-top: 0.8rem;
	position: fixed;
	top: 0;
	transform: translateX(-70vw);
	width: 70vw;
}
.header > nav.active {
	transform: translateX(0) !important;
}
.header > nav > div {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transform: translateX(-30vw);
	width: 30vw;
}
.header > nav.active > div {
	transform: translateX(70vw);
}
.header > nav > ul {
	align-items: center;
	display: flex;
	flex-direction: column;
	list-style-type: none;
}
.header > nav > ul > li {
	align-items: center;
	display: flex;
	width: 100%;
}
.header > nav > ul > li > a {
	color: var(--light-gray);
	font-size: 1.4rem;
	padding: 1.2rem 0 1.2rem 3rem;
	text-decoration: none;
	width: 100%;
}
.header > nav > ul > li > a.active {
	color: var(--white);
	font-weight: bold;
}
.header > nav > ul > li > a:hover {
	color: var(--white);
}

@media only screen and (min-width: 900px) {
	.header {
		flex-direction: column;
		padding-bottom: 0;
		padding-inline: 0;
		padding-top: 0.6rem;
	}

	.header > .logo {
		margin-inline: auto;
		padding-inline: 1rem;
		width: 900px;
	}

	.header > .logo > button {
		display: none;
	}

	.header > .logo > .kornyellow > .korn {
		font-size: 3rem;
	}

	.header > .logo > .kornyellow > .yellow {
		font-size: 2rem;
		margin-top: 0.5rem;
	}

	.header > nav {
		border: none;
		height: 100%;
		margin-inline: auto;
		padding: 0;
		padding-inline: 1rem;
		position: relative;
		transform: translateX(0);
		width: 900px;
	}

	.header > nav > div, .header > nav > button {
		display: none;
	}

	.header > nav > ul {
		display: flex;
		flex-direction: row;
	}

	.header > nav > ul > li {
		width: fit-content;
	}

	.header > nav > ul > li > a {
		font-size: 1rem;
		padding: 0.5rem 1rem 0.5rem 0;
	}
}
