@font-face {
	font-family: "Monomon";
	font-display: swap;
	src: local("monospace"),
	url("/static/fonts/SOV_monomon.ttf") format("truetype"),
	url("/static/fonts/SOV_monomon.eot") format("embedded-opentype"),
	url("/static/fonts/SOV_monomon.svg") format("svg"),
	url("/static/fonts/SOV_monomon.woff") format("woff"),
	url("/static/fonts/SOV_monomon.woff2") format("woff2");
}

:root {
	--dark: #1D1D1D;
	--gray: #393939;
	--light: #CCC;
	--white: #FFF;
	--yellow: #FFB212;
	--dark-gray: #292929;
	--light-gray: #999;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	accent-color: var(--yellow);
	color: var(--white);
	font-family: "Monomon", monospace;
	font-size: 14px;
	line-height: 1.5rem;
	overflow-y: scroll;
}
::selection {
	background: var(--yellow);
	color: var(--dark);
}

body {
	background-color: var(--dark);
}

main {
	display: grid;
	margin: 1.5rem 1rem 2.5rem 1rem;
	row-gap: 2rem;
}

div.debug {
	color: var(--yellow);
	font-size: 1rem;
	user-select: all;
}
div.debug .detail {
	color: var(--white);
	font-size: 0.8rem;
}

a {
	color: var(--yellow);
	font-size: inherit;
	text-decoration: underline var(--yellow);
	text-decoration-thickness: 1px;
	text-underline-offset: 1px;
	white-space: nowrap;
}
a:hover {
	color: var(--white);
	cursor: pointer;
	text-decoration: underline var(--white);
}

mark {
	background-color: transparent;
	color: var(--yellow);
	font-size: inherit;
	text-decoration: none;
	white-space: nowrap;
}

button {
	background: none;
	border: none;
	color: var(--yellow);
	display: flex;
	font-family: "Monomon", monospace;
	font-size: 1rem;
	margin-top: 0.5em;
	padding: 0.5rem 0;
	text-decoration: none;
	white-space: nowrap;
}
button:hover {
	color: var(--white);
	cursor: pointer;
}

form.form {
	display: grid;
	margin-inline: 1rem;
	margin-top: 1.5rem;
	row-gap: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--white);
	font-weight: normal;
	padding-bottom: 0.6em;
}

p {
	color: var(--light);
	font-size: 1rem;
	margin-bottom: 0.8em;
	text-align: left;
}
h1 {
	font-size: 1.6rem;
}
h2 {
	color: var(--light);
	font-size: 1.3rem;
}
h3 {
	color: var(--yellow);
	font-size: 1.1rem;
}

img {
	border: 1px solid var(--light-gray);
	height: auto;
	margin-bottom: 0.5rem;
	width: 100%;
}
iframe.video {
	aspect-ratio: 16/9;
	border: 1px solid var(--light-gray);
	display: flex;
	height: auto;
	margin-bottom: 2rem;
	width: 100%;
}

.container-grid {
	column-gap: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	padding: 1rem;
	row-gap: 1.5rem;
}

label {
	font-size: 1rem;
}

input {
	font-family: "Monomon", monospace;
}

dialog {
	align-items: center;
	background-color: var(--dark-gray);
	border: 2px solid var(--gray);
	bottom: 3.5rem;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	left: 0;
	margin-inline: 1rem;
	padding: 0.5rem 1.5rem;
	position: fixed;
	width: calc(100vw - 2rem);
}
dialog[open] {
	display: flex;
}
dialog > p {
	align-self: center;
	display: flex;
	margin: 0;
}
dialog > form > button {
	margin: 0;
}

.form-control input[type="text"], input[type="password"] {
	background-color: var(--dark);
	border: solid var(--light-gray) 1px;
	color: var(--white);
	font-size: 1rem;
	height: 1.8em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	outline: none;
	padding-inline: 0.5em;
	width: 100%;
}
.form-control.input:focus {
	border: solid var(--white) 1px;
}

.form-check input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}
.form-check input:checked ~ label::before {
	content: "[x]";
}
.form-check label {
	cursor: pointer;
	padding: 0.5rem 0;
	user-select: none;
}
.form-check label::before {
	color: var(--light);
	content: "[ ]";
	margin-right: 0.8rem;
}

span.price-badge {
	background: var(--yellow);
	border-radius: 5px;
	color: var(--dark);
	margin-left: 0.5rem;
	padding: 0.1rem 0.4rem;
}

@media only screen and (min-width: 900px) {
	html {
		font-size: 18px;
	}

	main {
		margin-inline: auto;
		padding-inline: 1rem;
		width: 900px;
	}

	dialog {
		margin-inline: auto;
		width: 900px;
	}

	.form-check input:hover ~ label::before {
		color: var(--white);
	}

	.container-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: var(--dark-gray);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--yellow);
	border: 3px none #FFF;
	border-radius: 10px;
}
